livenessDetection/src/__pycache__
.env
livenessDetection/src/data_io/__pycache__
deprecatedHelpers
test/user_data.json
test/usernames.json
test/.DS_Store
test/eg_embeddings.json
test/embeddings.index
test/spoof_attempts.json
.DS_Store